
@{
    ViewData["Title"] = "Index";
}

<body>
    <header id="header" class="header">
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-home icon"></i>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-address-book icon"></i>
                        <span class="text">About us</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-comments icon"></i>
                        <span class="text">Our menu</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-user icon"></i>
                        <span class="text">Reserv e table</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-cog icon"></i>
                        <span class="text">Contact</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-sign-out-alt icon"></i>
                        <span class="text">Sign out</span>
                    </a>
                </li>
            </ul>
        </nav>
        <a id="btn-navig" class="btn-navig" href="#">
            <i class="fas fa-bars open icon"></i>
            <i class="fas fa-times close icon"></i>
        </a>

    </header>
    <section id="Intro">
        <div class="cart1">
            <div class="img1"><img src="~/images/bg1.jpg" alt="" width="1420px" height="750px"></div>
        </div>
        <div class="qutu1">
            <p>M</p>
        </div>
        <div class="txt1">
            <h2>Welcome to Meal</h2><br><button type="button" class="btn btn-outline-light">Reserve a table</button>
        </div>
    </section>
    <section id="main1">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="title1">
                        <h4>Find your best food</h4><br>
                        <p>Free Website Template For Restaurants Made by Colorlib

                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img1"><img src="~/images/cart1.webp" alt="" width="300px" height="300px"></div>
                </div>
                <div class="col-md-4">
                    <div class="cart2">
                        <p id="P1">VEGIES
                        </p>
                        <div class="Has1">
                            <h6 id="H1">BEEF EMPANADAS
                            </h6>
                        </div>
                        <p id="P2">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                            language ocean.</p>
                        <div class="Sp1"> <span><a href="">Learn more</a></span></div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img1"><img src="~/images/cart1.webp" alt="" width="300px" height="300px"></div>
                </div>
                <div class="col-md-4">
                    <div class="cart2">
                        <p id="P1">VEGIES
                        </p>
                        <div class="Has1">
                            <h6 id="H1">BEEF EMPANADAS
                            </h6>
                        </div>
                        <p id="P2">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                            language ocean.</p>
                        <div class="Sp1"> <span><a href="">Learn more</a></span></div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img1"><img src="~/images/cart1.webp" alt="" width="300px" height="300px"></div>
                </div>


                <div class="col-md-4">
                    <div class="cart2">
                        <p id="P1">VEGIES
                        </p>
                        <div class="Has1">
                            <h6 id="H1">BEEF EMPANADAS
                            </h6>
                        </div>
                        <p id="P2">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                            language ocean.</p>
                        <div class="Sp1"> <span><a href="">Learn more</a></span></div>

                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>
    <section id="Main2">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="cart3">
                        <h4>The Restaurant
                        </h4><br>
                        <h6>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                            Semantics, a large language ocean.

                            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</h6>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="img2"><img src="~/images/bg2.webp" alt="" width="1400px"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="Humans">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="title2">
                        <h3>Meet The Chefs
                        </h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img4">
                        <div class="img5"><img src="~/images/human1.webp" alt="" width="200px" height="200px"></div>
                        <div class="title4">
                            <h5>Daniel Graham
                            </h5>
                        </div>
                        <div class="subtitle4">MASTER CHEF

                        </div>
                        <div class="desc4">
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of
                                the Semantics, a large language ocean.</p><span>Separated they live in Bookmarksgrove
                                right at the coast of the Semantics, a large language ocean. It is a paradisematic
                                country.

                            </span>
                        </div>
                        <div class="icons">
                            <div class="ico"><img src="~/images/facebook.png" alt=""></div>
                            <div class="ico"><img src="~/images/twitter.png" alt=""></div>
                            <div class="ico"><img src="~/images/instagram.png" alt=""></div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img4">
                        <div class="img5"><img src="~/images/human1.webp" alt="" width="200px" height="200px"></div>
                        <div class="title4">
                            <h5>Daniel Graham
                            </h5>
                        </div>
                        <div class="subtitle4">MASTER CHEF

                        </div>
                        <div class="desc4">
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of
                                the Semantics, a large language ocean.</p><span>Separated they live in Bookmarksgrove
                                right at the coast of the Semantics, a large language ocean. It is a paradisematic
                                country.

                            </span>
                        </div>
                        <div class="icons">
                            <div class="ico"><img src="~/images/facebook.png" alt=""></div>
                            <div class="ico"><img src="~/images/twitter.png" alt=""></div>
                            <div class="ico"><img src="~/images/instagram.png" alt=""></div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="MenuMain">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cart5">
                        <h4>Menu</h4>
                        <p>Free Website Template For Restaurants Made by Colorlib

                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="MenuList1">
                        <ul>
                            <li id="Li1"><a href="">Breakfast</a></li>
                            <li><a href="">Lunch</a> </li>
                            <li><a href="">Dinner</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="cart6">
                        <div class="img6"><img src="~/images/miniphoto.webp" alt="" width="100px" height="100px"></div>
                        <div class="txt6">
                            <p>Warm Spinach Dip & Chips</p> <br>
                            <div class="nema"><span>Spinach and artichokes in a creamy cheese dip with warm tortilla
                                    chips & salsa.</span></div>
                        </div>



                    </div>
                </div>
                <div class="col-md-12">
                    <div class="cart6">
                        <div class="img6"><img src="~/images/miniphoto.webp" alt="" width="100px" height="100px"></div>
                        <div class="txt6">
                            <p>Warm Spinach Dip & Chips</p> <br>
                            <div class="nema"><span>Spinach and artichokes in a creamy cheese dip with warm tortilla
                                    chips & salsa.</span></div>
                        </div>



                    </div>
                </div>
                <div class="col-md-12">
                    <div class="cart6">
                        <div class="img6"><img src="~/images/miniphoto.webp" alt="" width="100px" height="100px"></div>
                        <div class="txt6">
                            <p>Warm Spinach Dip & Chips</p> <br>
                            <div class="nema"><span>Spinach and artichokes in a creamy cheese dip with warm tortilla
                                    chips & salsa.</span></div>
                        </div>



                    </div>
                </div>
                <div class="col-md-12">
                    <div class="cart6">
                        <div class="img6"><img src="~/images/miniphoto.webp" alt="" width="100px" height="100px"></div>
                        <div class="txt6">
                            <p>Warm Spinach Dip & Chips</p> <br>
                            <div class="nema"><span>Spinach and artichokes in a creamy cheese dip with warm tortilla
                                    chips & salsa.</span></div>
                        </div>



                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="MiniCart">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cart7">
                        <h4>Other Services
                        </h4>
                        <p>Free Website Template For Restaurants Made by Colorlib



                        </p>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="cart8">
                        <div class="img8"><img src="~/images/salad.png" alt=""></div>
                        <div class="title8">
                            <h5>Quality Cuisine
                            </h5>
                        </div>
                        <div class="desc8">
                            <h6>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts.</h6>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">

                    <div class="cart8">
                        <div class="img8"><img src="~/images/salad.png" alt=""></div>
                        <div class="title8">
                            <h5>Quality Cuisine
                            </h5>
                        </div>
                        <div class="desc8">
                            <h6>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts.</h6>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">

                    <div class="cart8">
                        <div class="img8"><img src="~/images/salad.png" alt=""></div>
                        <div class="title8">
                            <h5>Quality Cuisine
                            </h5>
                        </div>
                        <div class="desc8">
                            <h6>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts.</h6>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">

                    <div class="cart8">
                        <div class="img8"><img src="~/images/salad.png" alt=""></div>
                        <div class="title8">
                            <h5>Quality Cuisine
                            </h5>
                        </div>
                        <div class="desc8">
                            <h6>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts.</h6>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">

                    <div class="cart8">
                        <div class="img8"><img src="~/images/salad.png" alt=""></div>
                        <div class="title8">
                            <h5>Quality Cuisine
                            </h5>
                        </div>
                        <div class="desc8">
                            <h6>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts.</h6>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">

                    <div class="cart8">
                        <div class="img8"><img src="~/images/salad.png" alt=""></div>
                        <div class="title8">
                            <h5>Quality Cuisine
                            </h5>
                        </div>
                        <div class="desc8">
                            <h6>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts.</h6>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="form1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cart7">
                        <h4>Reservation
                        </h4>
                        <p>Free Website Template For Restaurants Made by Colorlib





                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="col-md-4">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">Name</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="inputPassword6" class="form-control"
                            aria-describedby="passwordHelpInline">
                    </div>
                    <div class="col-auto">

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">email</label>
                    </div>
                    <div class="col-auto">
                        <input type="email" id="inputPassword6" class="form-control"
                            aria-describedby="passwordHelpInline">
                    </div>
                    <div class="col-auto">

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">phone</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" id="inputPassword6" class="form-control"
                            aria-describedby="passwordHelpInline">
                    </div>
                    <div class="col-auto">

                    </div>
                </div>
            </div>


        </div>
        <div class="form2">
            <div class="col-md-4">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">phone</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="inputPassword6" class="form-control"
                            aria-describedby="passwordHelpInline">
                    </div>
                    <div class="col-auto">

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">Date</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" id="inputPassword6" class="form-control"
                            aria-describedby="passwordHelpInline">
                    </div>
                    <div class="col-auto">

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">Time</label>
                    </div>
                    <div class="col-auto">
                        <input type="time" id="inputPassword6" class="form-control"
                            aria-describedby="passwordHelpInline">
                    </div>
                    <div class="col-auto">

                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="formEnd">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cart7">
                        <h4>Get In Touch

                        </h4>






                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label">Name</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="inputPassword6" class="form-control"
                                aria-describedby="passwordHelpInline">
                        </div>
                        <div class="col-auto">

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label">Email</label>
                        </div>
                        <div class="col-auto">
                            <input type="email" id="inputPassword6" class="form-control"
                                aria-describedby="passwordHelpInline">
                        </div>
                        <div class="col-auto">

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label">Name</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="inputPassword6" class="form-control"
                                aria-describedby="passwordHelpInline">
                        </div>
                        <div class="col-auto">

                        </div>
                    </div>
                </div>
                <div class="col-md-12"><label for="inputPassword5" class="form-label">Message</label>
                    <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                    <div id="passwordHelpBlock" class="form-text">
                    </div></div>
            </div>
        </div>
    </section>
    <script src="./js/Untitled-1.js"></script>
</body>
